// global


$bodyBgColor : #f9f9ff;
$mainFontfamily :'Rubik',
sans-serif;
$showResposiveNavaigation: 1200px;
// header

$mainHeaderColor: #454360;
$bgCloudColor: #fff;
$aboutBgColor :#F9F9FF;


// navigation

$menuBgColor : #353353;
$menuBorderColor : rgba(255, 255, 255, 0.1);
$iconColor : #ffd15c;
$navFontColor : #fff;
$navFOntHoverColor : #ffd15c;
$navCopyrightColor: #9c9ab3;

// home

$homeBgColor: #353353;
$homeTextColor: #fff;
$homeTextHoverColor : #ffd15c;

//aboute


$aboutCloudBg: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #6e0000;
$progressBarGreen: #09b388;